{% extends 'base.html' %}

{% block content %}
<h2>Peças</h2>
<a href="{% url 'criar_peca' %}">Nova Peça</a>

<ul>
    {% for p in pecas %}
        <li>
            {{ p.nome }} - {{ p.categoria }} - {{ p.estacao }}
            (Usada {{ p.frequencia_uso }} vezes)

            | <a href="/pecas/editar/{{ p.id }}/">Editar</a>
            | <a href="/pecas/apagar/{{ p.id }}/">Apagar</a>
            | <a href="/pecas/usar/{{ p.id }}/">Usar</a>
        </li>
    {% endfor %}
</ul>
<h3>Filtrar</h3>

<form method="GET">
    {% csrf_token %}
    Categoria:
    <select name="categoria">
        <option value="">Todas</option>
        {% for c in categorias %}
            <option value="{{ c.id }}">{{ c.nome }}</option>
        {% endfor %}
    </select>

    Estação:
    <select name="estacao">
        <option value="">Todas</option>
        {% for e in estacoes %}
            <option value="{{ e.id }}">{{ e.nome }}</option>
        {% endfor %}
    </select>

    <button type="submit">Filtrar</button>
</form>

<hr>

{% endblock %}
