<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbies Closet</title>
</head>
<body>
    <h1>Gestão de Guarda-Roupa</h1>
    <nav>
        <a href="{% url 'lista_pecas' %}">Peças</a> |
        <a href="{% url 'lista_outfits' %}">Outfits</a> |
        <a href="{% url 'lista_categorias' %}">Categorias</a> |
        <a href="{% url 'lista_estacoes' %}">Estações</a>
    </nav>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>